@import "tailwindcss";

/* Font faces */
@font-face {
  font-family: "SamsungSharp";
  src: url("./Fonts/samsungsharpsans.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "SamsungSharp";
  src: url("./Fonts/samsungsharpsans-medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "SamsungSharp";
  src: url("./Fonts/samsungsharpsans-bold.otf") format("opentype");
  font-weight: 700;
}

/* Custom Tailwind utility */
@layer utilities {
  .font-samsung {
    font-family: "SamsungSharp", sans-serif;
  }
}


.inter-500 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
.inter-400 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }